<app-navbar></app-navbar>

<div class="container">

    <div class="jumbotron">
        <h1 class="display-4">Bienvenido! </h1>
        <p class="lead">Este es el Software para Generar Encuestas del Jadin Sol de Pehuén</p>
        <hr class="my-4">
        <p>Actualmente contamos con 2 opciones las cuales son:</p>
        <button type="button" class="btn btn-primary btn-lg" (click)="generarEncuesta()">Generar Encuesta </button>
        <p></p>
        <button type="button" class="btn btn-primary btn-lg" (click)="verResultados()">Ver Resultados Encuestas </button>
    </div>
</div>




<app-footer></app-footer>